@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0e0e0e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #f5f5f5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-changa), sans-serif;
  overflow-x: hidden;
}


.custom-navbar {
  transition: all 0.35s ease-in-out;
  background-color: transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  padding: 0.6rem 0;
}

.custom-navbar.scrolled {
  background-color: rgba(55, 55, 55, 0.85);
  box-shadow: none;
  backdrop-filter: blur(8px);
}

.navbar-nav .nav-link {
  color: white !important;
  font-weight: 500;
  font-size: 22px;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ddd !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: clamp(1.8rem, 7vw, 10rem);
}


.hero-homg-bg-img {
  background: url('/home/slider.png');
  height: 704px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Pop-Up Modal Classes */
.Promote-modal {
  max-width: 900px;
  /* whatever size you want */
  width: 90%;
  margin: auto;
}

.Promote-modal .modal-content {
  background-color: rgb(26 26 26 / 20%);
  color: white;
}

.Promote-modal .modal-header {
  background-color: rgba(255, 255, 255, 0.712);
  color: white;
  border-bottom: none;
  /* optional: remove header border */
}

.Promote-modal .modal-body {
  background-color: rgba(255, 255, 255, 0.712);
  color: white;
}


.custom-modal .modal-content {
  background-color: #131a27e8;
  color: white;
}

.custom-modal .modal-header {
  background-color: #131a27e8;
  color: white;
  border-bottom: none;
}

.custom-modal .modal-body {
  background-color: #131a27e8;
  color: white;
}

.place-clr {
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid #ccc;
  color: white;
}

.place-clr::placeholder {
  color: #aaa;
  opacity: 1;
}


.what-new-bg {
  background: url('/home/property1.jpg');
  height: 626px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promote-section-bg {
  background: url('/images/promote-section.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-success {
  background-color: #4DB6AC;
  border-color: #4DB6AC;
  font-weight: 800;
}

.font-normal {
  font-family: "Changa", sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: "Changa", sans-serif;
  font-weight: 900;
}


.bg-dark {
  background-color: #000 !important;
}
